body {
    font-family: sans-serif;
    background-color: rgb(184, 184, 184);
}

form {
    background-color: darkslategrey;
    margin: auto;
    text-align: center;
    width: 400px;
    height: 300px;
    padding: 15px;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 15px  black;
}

button {
    height: auto;
    width: auto;
    font-size: 20px;
    margin-top: 20px;
    background-color:rgb(57, 143, 241);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;

}
button:hover{
    transform: scale(1.1);
    transition: 0.1s;
    box-shadow: 0px 0px 5px white;
}

button:active{
    transform: scale(1);
    box-shadow: none;
    background-color: rgb(42, 107, 182);;
}
